#homeButton{
    background-color: gray;
    color: white;
    font-size: 12px;
    width: 80px;
    height: 30px;
    margin-left: 150px;
    margin-top: 10px;
}
#Title{
    text-align: center;
    font-size: 40px;
    color:rgb(170, 61, 61);
    background-color: rgb(83, 78, 95);
    border: 1px solid rebeccapurple;
}
.titlu{
    position: absolute; /* Position the container absolutely */
    top: 170px; /* Align to the top of the container */
    left: 780px;
}
.container{
    display:block;
    margin-bottom: 20px; /* Spațiu între fiecare mașină */
    margin: 0 auto;
    text-align: left;
    width: 50%; /* Lățimea containerului */
    height: auto; /* Înălțimea containerului */
    background: rgb(28, 25, 51); /*#adadad *//* Culoarea de fundal */
    border: 2px solid #ccc; /* Border-ul containerului */
    padding: 20px; /* Spațiul interior între conținut și marginile containerului */
}
p {
    margin-left: 100px;
}
h1 {
    margin-left: 130px;
}
input{
    background-color: gainsboro;
}
select{
    background-color: gainsboro;
}
.row{
    margin-bottom: -15px;
    margin-left: 100px;
    color: #ccc;
}
.radio{
    position: absolute; /* Position the container absolutely */
    top: 165px; /* Align to the top of the container */
    left: 960px; /* Align to the right side of the container */ 
    color: #ccc;
}
.radio input{
    color: #ccc;
}
.image{
    position: absolute;
    top: 320px; /* Align to the top of the container */
    left: 900px; /* Align to the right side of the container */ 
}
#desc{
   margin-top:-4px; 
   margin-left: 110px;
}
textarea{
    margin-left: 100px;
    background-color: rgb(179, 179, 179);
    border-radius: 3%;
    resize: none;
}
body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(37, 24, 37);
    background-size: auto;
    background-repeat: no-repeat; /* Împiedică repetarea imaginii de fundal */
}

.image-upload-box {
    width: 300px; /* Adjust the width as needed */
    height: 300px; /* Adjust the height as needed */
    border: 2px solid rgb(0, 0, 0); /* Border color */
    border-radius: 10px; /* Rounded corners */
    overflow: hidden; /* Hide overflowing content */
    position: relative; /* Positioning context for absolute positioning */
}

.button{
    position: absolute;
    top: 350px;
    width: 150px; /* Adjust the width as needed */
    height: 50px; /* Adjust the height as needed */
    padding: 10px; /* Adjust padding as needed */
    font-size: 16px; /* Adjust font size as needed */
    background-color: gray; /* Button background color */
    color: #fff; /* Button text color */
    cursor: pointer; /* Change cursor to pointer on hover */
}
#myForm{
    background-image: url('../img/bcg.webp');
}