#home {
    background-color: hsl(0, 0%, 27%);
    color: white;
    margin-top: 15px;
    margin-right: 40px;
    margin-left: 15px;
    width: 100px;
    height: 35px;
    font-size: 1.2rem;
    border: 2px solid black;
    border-radius: 5px;
    transition: 0.5s ease;
    cursor: pointer;
}
#home:hover{
    background-color: hsl(0, 0%, 25%);
}
#cauta{
    height: 20px;
    background-color: hsl(0, 0%, 80%);
    width: 242px;
    transition: 0.5s ease;
    cursor: pointer;
}
#cauta:focus {
    border: 2px solid hsl(0, 0%, 0%);
    background-color: hsl(0, 0%, 65%);
    outline: none;
}
#submit{
    height: 25px;
    font-weight: 600;
    background-color: hsl(0, 0%, 40%);
    transition: 0.25s ease;
    cursor: pointer;
}
#submit:hover{
    background-color: hsl(0, 0%, 35%);
}
.bar{
    display: flex;
    background-color: rgb(85, 16, 16);
}
.container {
    min-height: 90vh;
    display:flex; 
}

.container h2{
    color: #ccc;
    display: flex;
}
.container select{
    display: flex;
}

.sidebar {
    width: 250px; 
    height: auto;
    padding: 20px; 
    background-color:#2a2a2e; 
}
.divider {
    width: 2px;
    display: block;
    background-color: #ccc;
}
.row{
    color: #ccc;
}

.input{
    display: inline-block;
    width: auto;
    margin-right: 10px;
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 20px;
}

input[type="text"],
button {
    width: 100%; 
    margin-bottom: 10px; 
}
.filter-title {
    margin-top: 0;
    cursor: pointer; 
}
body{
    background-color: hsl(0, 0%, 10%);
    /* background-color:hsl(240, 10%, 14%); */
}

.car {
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin-bottom: 20px; 

    width: 700px; 
    height: 300px; 
    background-color:hsl(0, 55%, 19%);
    border: 2px transparent #707070; 
    padding: 20px; 
    margin: 3px; 
    cursor: pointer;
    border: 2px solid black;
}
.car:hover{
    background-color:hsl(0, 55%, 16%);
    border: 2.5px solid black;
}

.car img {
    width: auto;
    height: auto;
    max-width: 400px;
    max-height: 300px;
    margin-right: 20px; 
    border: 0.5px solid black;
}
.car img:hover{
    border: 1.5px solid black; 
}

.car-details {
    float: right;
}


.car-details h2 {
    margin-top: -15px;
    color: #edeaeadc;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 525;
}

.car-details p {
    font-family: Arial;
    margin-bottom: -7px;
    color: #b1b1b1dc;
    font-size: 14px;
    font-weight: 300;
}
#state{
    font-family: Arial;
    color: #edeaeadc;
    font-size: 14px;
    font-weight: 700;
    border: 5px solid #141415;
    background-color: #141415;
}
h3{
    color: #ccc;
    margin-left:  100px;
    font-size: 25px;
}
.grid{
    display: grid;
    align-items: center;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.flex-container li {
    flex-basis: calc(50% - 10px); /* Fiecare element va avea lățimea de 50%, minus spațiul între elemente */
    margin: 5px; /* Spațiu între elemente */
  }
footer p{
    text-align: center;
    color: #ccc;
}


