#back{
    margin-left: 30px;
    font-size: 1.2rem;
    font-weight: bold;
    width: 80px;
    height: 35px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s ease;
}
#back:hover{
    background-color: hsl(0, 2%, 80%);
}
.container-parent{
    display: flex;
    justify-content: center;
}
.container{
    display: block;
    border: 2px solid;
    border-radius: 20px;
    width: auto;
    height: auto;
    max-width: 80%;
    min-height: 85vh;
    justify-content: center; /* Aliniere pe orizontală */
    background-color: hsl(0, 0%, 30%);
}
.container h1{
    display:  inline-block;
    color:rgb(0, 0, 0);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:snow;
    margin-inline: auto;
    border-radius: 8%;
}
.title{
    text-align: center;
}
.container img{
    margin-left: 0;
    display: flex;
    border: 1px solid rgb(0, 0, 0);
    width: auto;
    height: 400px;
}

.car{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}
.car-show{
    height: auto;
    cursor: pointer;
}
.car-show:hover{
    border: 1px solid black;
}

body{
    background-color: rgb(48, 47, 47);
}
.box{
    display: flex;
    justify-content: center;
}
.box p{
    margin-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.bold{
    font-weight: bold;
}
.box1{
    border: 2px solid rgb(65, 65, 65);
    display: flex;
    margin: auto;
    width: 60%;
    height: auto;
    background-color:silver;
    overflow-wrap: break-word;
    white-space: pre-wrap;
    overflow-wrap: break-word;
}
.descr{
    font-size: 16px;
}
.box2{
    border: 2px solid rgb(65, 65, 65);
    display: block;
    width: 400px;
    background-color:snow;
    align-content: center;
}
.box3{
    border: 2px solid rgb(65, 65, 65);
    display: block;
    width: 400px;
    background-color:snow;
    align-content: center;
}
.box4{
    border: 2px solid rgb(65, 65, 65);
    display: block;
    width: 400px;
    background-color:snow;
    align-content: center;
}
img.enlarged {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    background: rgba(0, 0, 0, 0.8); /* culoarea fundalului transparent */
    z-index: 1000;
    border: 5px solid black;
}

.close-btn {
    position: fixed;
    top: 70px;
    right: 40px;
    color: hsl(0, 1%, 70%);
    font-size: 70px;
    cursor: pointer;
    z-index: 1001;
    transition: 0.25s ease;
    height: 40px;
    padding: 0;
}
.close-btn:hover{
    color: hsl(0, 1%, 60%);
}
footer p{
    text-align: center;
    color: #ccc;
}

